@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.header {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    height: 9vh;
    font-family: 'Poppins', sans-serif;
}

.header .logo {
    width: 3.2%;
    margin: 0 1.5rem;
}

.header .logo img {
    width: 100%;
}

.header h1 {
    transition: .4s ease-in-out;
    font-size: 1.5rem;
}

.header h1:hover {
    color: #FF3A18;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin-right: 5rem;
    margin-left: auto;
    font-size: .88rem;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: .4s ease-in-out;
    border-bottom: 1.5px solid transparent;
}

.header ul li a:hover {
    color: #FF3A18;
    transition: .3s ease-in-out;
    border-bottom: 1.5px solid #FF3A18;
}

.btnSair {
    background-color: #FF3A18;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    margin-right: 2rem;
    transition: 0.3s ease-in-out;
}

.btnSair:hover {
    background-color: #d63214;
    transform: scale(1.05);
}