.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #252E43;
    min-height: 100vh;
    overflow-x: hidden;
}

.title {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1% 0 0 5%;
    cursor: default;
    font-size: 1.1rem;
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.3rem;
    cursor: default;
    padding: 0 2rem;
    transform: scale(0.8);
}

.slogan {
    margin-left: 3rem;
    margin-top: 0rem;
    transform: scale(0.8);
    transform-origin: left top;
}

.slogan span {
    color: #FF3A18;
}

.slogan p {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 26%;
    margin-bottom: 0.5rem;
}

.slogan img {
    max-width: 85%;
    height: auto;
}
